@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  font-size: 4.6rem;
  color: #fff;
  font-weight: 600;
}

h2 {
  font-size: 3.6rem;
  color: #333333;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 2.8rem;
  color: #333333;
  font-weight: 600;
}

h4 {
  font-size: 2.4rem;
  color: #333333;
  font-weight: 600;
}

h5 {
  font-size: 2rem;
  color: #333333;
  font-weight: 600;
}

html {
  font-size: 62.5%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 12px 32px;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 1rem;
  color: #333333;
}

.btn-primary {
  display: inline-block;
  border: none;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.btn-primary:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffb703;
  border-radius: 1rem;
  z-index: -2;
}
.btn-primary:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #b68200;
  transition: all 0.3s;
  border-radius: 1rem;
  z-index: -1;
}
.btn-primary:hover {
  color: #333333;
}
.btn-primary:hover:before {
  width: 100%;
}

.btn-secondary {
  display: inline-block;
  border: 1px solid black;
  transition: all 0.3s;
  background-color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.btn-secondary:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.1rem;
  z-index: -2;
}
.btn-secondary:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffb703;
  transition: all 0.3s;
  border-radius: 1rem;
  z-index: -1;
}
.btn-secondary:hover {
  color: #333333;
  border: 1px solid #ffb703;
  border-radius: 1.1rem;
}
.btn-secondary:hover:before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
  }
  h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
  }
  h2 {
    font-size: 2.4rem;
    color: #333333;
    font-weight: 600;
    text-align: center;
  }
  h3 {
    font-size: 2rem;
    color: #333333;
    font-weight: 600;
    text-align: center;
  }
  h4 {
    font-size: 1.8rem;
    color: #333333;
    font-weight: 600;
  }
}
.navbar {
  background-image: url(/assets/images/Main-bg.png);
  height: 80vh;
  background-size: cover;
  background-position: center;
}
.navbar nav {
  height: 100px;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar nav img {
  width: 150px;
}
.navbar nav ul {
  list-style-type: none;
  gap: 50px;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar nav .loginbutton {
  font-size: 1.6rem;
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar nav a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  position: relative;
  color: #fff;
}
.navbar nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffb703;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar nav .menu-icon {
  display: none;
}

.main-section-grid {
  margin: 120px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.main-section-grid .main-page p {
  margin-top: 30px;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.8;
}
.main-section-grid .main-page span {
  font-size: 2.6rem;
  color: #ffb703;
  font-weight: 600;
  margin-left: 20px;
}
.main-section-grid .main-page .btn-primary {
  margin-top: 30px;
}
.main-section-grid img {
  width: 50%;
  justify-self: center;
}

.partners .partners-flex {
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 20vh;
  background-color: #f1f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.partners .partners-flex img {
  width: 200px;
}

.cards-section {
  margin-top: 20rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  align-items: center;
  gap: 9rem;
}
.cards .icon1 {
  text-align: center;
}
.cards .icon2 {
  text-align: center;
}
.cards .icon3 {
  text-align: center;
}
.cards .anonimity h3 {
  text-align: center;
}
.cards .anonimity p {
  text-align: center;
}
.cards .speed h3 {
  text-align: center;
}
.cards .speed p {
  text-align: center;
}
.cards .pricing h3 {
  text-align: center;
}
.cards .pricing p {
  text-align: center;
}
.cards h3 {
  margin: 2rem;
}
.cards p {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: #6b7c93;
}

.price-section {
  margin-top: 20rem;
  padding-bottom: 15rem;
  padding-top: 15rem;
  background-color: #f1f7fb;
}
.price-section h2 {
  text-align: center;
}
.price-section h3 {
  text-align: center;
  margin-top: 8rem;
}
.price-section .platform-text {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: #6b7c93;
}
.price-section .platforms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 3rem;
}

.pricing-cards {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
.pricing-cards .plan1 {
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
  box-shadow: -4px 2px 31px -6px rgba(0, 0, 0, 0.2);
  justify-self: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #fff;
}
.pricing-cards .plan2 {
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
  box-shadow: -4px 2px 31px -6px rgba(0, 0, 0, 0.2);
  justify-self: center;
  align-items: center;
  border: 4px solid #15415D;
  border-radius: 1rem;
  background-color: #fff;
  position: relative;
}
.pricing-cards .best-choice {
  background-color: #209EBD;
  color: #fff;
  padding: 1.2rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  width: 12rem;
  text-align: center;
  position: absolute;
  top: -25px;
  left: -10;
}
.pricing-cards .plan3 {
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
  box-shadow: -4px 2px 31px -6px rgba(0, 0, 0, 0.2);
  justify-self: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #fff;
}
.pricing-cards h1 {
  margin-top: 1.5rem;
  color: #333333;
}
.pricing-cards h3 {
  margin-top: 3rem;
}
.pricing-cards h4 {
  margin-top: 2rem;
  font-size: 2.6rem;
  color: #ffb703;
}
.pricing-cards p {
  font-size: 1.2rem;
}
.pricing-cards ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  list-style-type: none;
  margin-top: 2rem;
  gap: 2rem;
}
.pricing-cards ul li {
  pointer-events: none;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1.4rem;
}
.pricing-cards ul li img {
  width: 2rem;
}
.pricing-cards ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #333333;
}
.pricing-cards button {
  margin: 3rem 0 1rem;
  justify-content: center;
  align-items: center;
}

.ad {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url(/assets/images/Advertisement.png);
  background-size: cover;
}
.ad .ad-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ad .ad-flex h1 {
  color: #fff;
  text-align: center;
}
.ad .ad-flex h2 {
  margin-top: 2rem;
  text-align: center;
  color: #ffb703;
}
.ad .ad-flex button {
  font-size: 2rem;
  margin-top: 3rem;
  align-items: center;
}
.ad .ad-flex span {
  margin-top: 2rem;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
}

.world {
  margin-top: 10rem;
  padding-left: 10rem;
}

.world-grid {
  display: grid;
  grid-template-rows: 1fr 4fr;
  gap: 3rem;
}
.world-grid .world-text {
  grid-area: 1/1/2/3;
  align-self: flex-end;
}
.world-grid .world-text span {
  font-size: 1.8rem;
  color: #6b7c93;
}
.world-grid .flags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.world-grid .flags ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
}
.world-grid .flags ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
}
.world-grid .flags ul li a {
  text-decoration: none;
  pointer-events: none;
  color: #6b7c93;
}
.world-grid .flags span {
  grid-column: span 2;
}
.world-grid .flags span .right-arrow {
  display: inline-block;
  margin-top: 2rem;
  width: 0.8rem;
}
.world-grid .flags span a {
  font-size: 1.6rem;
  color: #5189a5;
  font-weight: 600;
}
.world-grid .map {
  width: 70rem;
  justify-self: center;
  grid-area: 2/2/3/3;
}

.testimonials {
  background-color: #f1f7fb;
  margin-top: 20rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.testimonials h2 {
  margin-bottom: 10rem;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-top: 3rem;
  padding: 4rem 4rem;
  background-color: #fff;
}
.testimonials-grid .comment1 {
  display: flex;
  flex-direction: column;
  background-color: #f1f7fb;
}
.testimonials-grid .comment1 .img-title {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-left: 3rem;
  gap: 2rem;
}
.testimonials-grid .comment1 .imgBox {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  align-self: center;
}
.testimonials-grid .comment1 .imgBox img {
  position: absolute;
  object-fit: cover;
  width: 7rem;
  align-items: center;
  justify-content: center;
}
.testimonials-grid .comment1 .name .trustpilot {
  width: 12rem;
}
.testimonials-grid .comment1 h5 {
  margin-top: 2rem;
  margin-left: 3rem;
}
.testimonials-grid .comment1 p {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.testimonials-grid .comment1 .profile2 {
  width: 9rem;
  height: 9rem;
}

.newsletter {
  margin: 10rem 0;
}

.newsletter-flex {
  display: flex;
  justify-content: space-between;
}

.form input[type=email] {
  display: inline-block;
  width: 60rem;
  padding: 1.8rem 3rem;
  margin: 0.8rem 0;
  border: 0.5px solid rgb(223, 223, 223);
  height: 7rem;
  margin-top: 1.8rem;
  border-radius: 1.2rem;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.06);
}
.form input,
.form input::placeholder {
  font-size: 16px;
  line-height: 3;
}
.form .btn {
  margin-left: -154px;
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}

footer {
  background-image: url(/assets/images/footer.png);
  background-size: cover;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
  padding-top: 4rem;
}
.footer-grid .footer-logo img {
  width: 15rem;
  margin-top: 2.2rem;
}
.footer-grid ul {
  list-style-type: none;
}
.footer-grid ul li {
  color: #fff;
  font-size: 1.4rem;
  line-height: 3rem;
}
.footer-grid ul li span {
  font-size: 2rem;
  font-weight: 600;
  line-height: 6rem;
}
.footer-grid ul li a {
  text-decoration: none;
  color: #fff;
}

.social-media {
  display: flex;
  gap: 1.6rem;
}
.social-media img {
  width: 2.8rem;
}

.stores {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}
.stores img {
  width: 12rem;
}

.footer-border {
  margin-top: 3rem;
  border: 0.5px solid rgb(87, 87, 87);
}

.under-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.under-footer .payments {
  display: flex;
  gap: 0.5rem;
}
.under-footer .payments img {
  width: 3rem;
}
.under-footer .terms-conditions {
  display: flex;
}
.under-footer ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  align-items: center;
  justify-items: center;
}
.under-footer ul li {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}
.under-footer form {
  position: relative;
}
.under-footer form .usa-flag {
  position: absolute;
  width: 2.4rem;
  left: 77px;
  top: 9px;
}
.under-footer form select {
  border-radius: 0.6rem;
  padding: 0.4rem 0.8rem;
  width: 12rem;
  background-color: transparent;
  font-size: 1.4rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .navbar {
    background-image: url(/assets/images/Main-bg.png);
    height: 100rem;
    background-size: cover;
    background-position: center;
  }
  .navbar nav {
    padding: 20px 40px;
  }
  .navbar nav ul, .navbar nav a, .navbar nav button {
    display: none;
  }
  .navbar nav img {
    width: 12rem;
  }
  .navbar nav .menu-icon {
    width: 2.4rem;
    display: block;
  }
  .main-section-grid {
    margin: 6rem auto 0;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .main-section-grid .main-page {
    display: flex;
    flex-direction: column;
  }
  .main-section-grid .main-page h1 {
    text-align: center;
  }
  .main-section-grid .main-page p {
    text-align: center;
    margin-top: 1.6rem;
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.8;
  }
  .main-section-grid .main-page span {
    display: block;
    font-size: 2.6rem;
    color: #ffb703;
    font-weight: 600;
    text-align: center;
    margin-left: -2rem;
    margin-top: 1.2rem;
  }
  .main-section-grid .main-page .btn {
    margin-top: 30px;
    align-items: center;
    align-self: center;
  }
  .main-section-grid img {
    width: 25rem;
    align-self: center;
  }
  .partners .partners-flex {
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 20rem;
    background-color: #f1f7fb;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .partners .partners-flex .first-partners-row {
    display: flex;
  }
  .partners .partners-flex .second-partners-row {
    display: flex;
  }
  .partners .partners-flex img {
    width: 12rem;
  }
  .cards-section {
    margin-top: 10rem;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 9rem;
    padding: 0 3rem;
  }
  .cards p {
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #6b7c93;
  }
  .price-section {
    margin-top: 10rem;
  }
  .price-section .platforms img {
    width: 3.6rem;
  }
  .price-section .platform-text {
    font-size: 1.8rem;
  }
  .pricing-cards {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .world {
    margin-top: 5rem;
    padding: 0;
  }
  .world-grid {
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 4rem;
  }
  .world-grid .world-text {
    grid-area: 1/1/2/3;
    align-self: flex-end;
    text-align: center;
  }
  .world-grid .world-text span {
    font-size: 1.4rem;
  }
  .world-grid .flags {
    margin-left: 2rem;
  }
  .world-grid .map {
    width: 95%;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .testimonials {
    background-color: #f1f7fb;
    margin-top: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .testimonials h2 {
    margin-bottom: 10rem;
  }
  .testimonials-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 3rem;
    padding: 4rem 4rem;
    background-color: #fff;
  }
  .testimonials-grid .comment1 {
    display: flex;
    flex-direction: column;
    background-color: #f1f7fb;
  }
  .testimonials-grid .comment1 .img-title {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-left: 3rem;
    gap: 2rem;
  }
  .testimonials-grid .comment1 .imgBox {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    align-self: center;
  }
  .testimonials-grid .comment1 .imgBox img {
    position: absolute;
    object-fit: cover;
    width: 7rem;
    align-items: center;
    justify-content: center;
  }
  .testimonials-grid .comment1 .name .trustpilot {
    width: 12rem;
  }
  .testimonials-grid .comment1 h5 {
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .testimonials-grid .comment1 p {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
  }
  .testimonials-grid .comment1 .profile2 {
    width: 9rem;
    height: 9rem;
  }
  .newsletter-flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
  }
  .form input[type=email] {
    display: inline-block;
    width: 37rem;
    padding: 1.8rem 1.8rem;
    margin: 0.6rem 0;
    border: 0.5px solid rgb(223, 223, 223);
    height: 7rem;
    margin-top: 1.8rem;
    border-radius: 1.2rem;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.06);
  }
  .form input,
.form input::placeholder {
    font-size: 16px;
    line-height: 3;
  }
  .form .btn {
    margin-left: -154px;
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
  }
  footer {
    background-image: url(/assets/images/footer.png);
    background-size: cover;
    padding: 2rem 2rem;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
  .footer-grid .footer-logo img {
    width: 15rem;
    margin-top: 2.2rem;
  }
  .footer-grid ul {
    list-style-type: none;
  }
  .footer-grid ul li {
    color: #fff;
    font-size: 1.4rem;
    line-height: 3rem;
  }
  .footer-grid ul li span {
    font-size: 2rem;
    font-weight: 600;
    line-height: 6rem;
  }
  .footer-grid ul li a {
    text-decoration: none;
    color: #fff;
  }
  .social-media {
    display: flex;
    gap: 1.6rem;
    margin-top: 3rem;
  }
  .social-media img {
    width: 2.8rem;
  }
  .under-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .under-footer .payments {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .under-footer .payments img {
    width: 2.4rem;
  }
  .under-footer .terms-conditions {
    grid-column: span 2;
    grid-row: 2/3;
    display: flex;
  }
  .under-footer ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: baseline;
    justify-items: center;
  }
  .under-footer ul li {
    margin-top: 1rem;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
  }
  .under-footer .form-language {
    align-self: center;
    justify-self: flex-end;
    position: relative;
  }
  .under-footer .form-language .usa-flag {
    position: absolute;
    width: 2.4rem;
    left: 77px;
    top: 9px;
  }
  .under-footer .form-language select {
    border-radius: 0.6rem;
    padding: 0.4rem 0.8rem;
    width: 12rem;
    background-color: transparent;
    font-size: 1.4rem;
    color: #fff;
  }
}/*# sourceMappingURL=style.css.map */